@model AirQualityVisualisation.Models.Measurement_Table

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Measurement_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaaResultat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaaResultat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AKorrektion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AKorrektion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BKorrektion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BKorrektion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataType_Table.DataTypeNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataType_Table.DataTypeNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instrument_Table.InstruksNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instrument_Table.InstruksNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stof_Table.StofNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stof_Table.StofNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit_Table.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit_Table.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Table.ProduktId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Table.ProduktId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
