@model IEnumerable<AirQualityVisualisation.Models.Final_View>

@{
    ViewBag.Title = "Index";


    //ActionResult CreateLineChart()         {
    //         //Create bar chart             

    //        var chart = new Chart(width: 800, height: 400).AddSeries(chartType: "line", 

    //        xValue: new[] { "10 ", "50", "30 ", "70" },

    //        yValues: new[] { "50", "70", "90", "110" }) .GetBytes("png");

    //        return File(chart, "image/bytes", chart);         }

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>     <img src="@Url.Action("CreateLineChart")" alt="Line Chart using MVC"></img> </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatoMaerke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaaResultat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StofNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expr1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatoMaerke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaaResultat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StofNavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expr1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProduktId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProduktId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProduktId })
            </td>
        </tr>
    }

</table>
