@using WebMatrix.Data;
@using System.Data.SqlClient;
@{
    ViewBag.Title = "Home Page";


    var db = Database.Open("AirData_F2019");
    var dbdata = db.Query("SELECT StofNavn, StofId FROM Stof_Table").Take(50);

    var chart = new Chart(width: 800, height: 400).AddSeries(chartType: "line",

                                                                                             xValue: new[] { "10 ", "50", "30 ", "70" },

                                                                                               yValues: new[] { "50", "70", "90", "110" }).AddTitle("Test");

    //var myChart = new Chart(600, 400).AddSeries(chartType: "line")
    //  .AddTitle("Test")
    //  .DataBindTable(dataSource: dbdata, xField: "Name")
    //  .Write();
}


    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <ul>
            <li>
                @Html.ActionLink("List of Measurements", "Index", "Measurement_Table")
            </li>
            <li>
                @Html.ActionLink("List of Analyse Results", "Index", "AnalyseResultat_Table")
            </li>
            <li>
                @Html.ActionLink("List of Products", "Index", "Product_Table")
            </li>
            <li>
                @Html.ActionLink("List of Aktivitet", "Index", "Aktivitet_Table")
            </li>
            <li>
                @Html.ActionLink("Final_View", "Index", "Final_View")
            </li>
            <li>
                @Html.ActionLink("Chart", "Index", "Chart")
            </li>
        </ul>

    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>